[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
arrow = "0.17.0"
python-box = "3.2.4"
pymysql= "0.9.3"
pyyaml = "5.1"
simplejson = "3.17.2"
configargparse = "0.14.0"
requests = "2.24.0"
beautifulsoup4 = "4.9.3"

[dev-packages]
pytest = "5.2.1"
boto3  = "1.9.250"
pylint = "2.3.1"
